*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}

section{
min-height:100vh;
padding:80px;
}

h1,h2{
color:#ff2a2a;
margin-bottom:30px;
}

.hero{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background-size:cover;
background-position:center;
}

.botao{
background:#c60000;
color:white;
padding:15px 30px;
border-radius:10px;
cursor:pointer;
transition:.3s;
border:none;
}

.botao:hover{
background:red;
transform:scale(1.1);
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.card{
background:#121212;
padding:20px;
border-radius:15px;
transition:.5s;
border:2px solid #700;
}

.card:hover{
transform:translateY(-10px);
border-color:red;
}

img{
width:100%;
border-radius:10px;
}

textarea{
width:100%;
height:150px;
background:#111;
color:white;
padding:15px;
border:1px solid red;
}

input{
width:100%;
padding:12px;
margin-bottom:10px;
background:#111;
color:white;
border:1px solid red;
}

.recado{
margin-top:15px;
background:#1a1a1a;
padding:15px;
border-left:4px solid red;
}
